.ChooseUS_section{
    margin-top: 50px;
  width: 100%;
  margin-bottom: 80px;
    background-image: linear-gradient(#2990f0 30%,white);
    /* background-color:#86B6F6; */
    text-align: center;
padding-top: 40px;
}
.choose_card_section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.choose_card1{
    background-color: white;
    width: 300px;
    padding: 18px 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 3px 2px 8px rgba(0,0,0,0.1);
    z-index: 10px;
}
.card-img{
    height: 80px;
}
.chooseUS_header{
    font-family: "Abril Fatface", serif;
  font-weight: 400;
  color: white;
  font-size: 50px;
 padding-bottom: 40px;
}
.card_header{
    font-family: "Libre Baskerville", serif;
font-weight: bold;
font-size: 25px;
}

.choose_card1:hover{
   
}
@media (max-width:450px){
    .ChooseUS_section{
        width: 100%;
        padding-left: 10px;
       }
       .choose_card1{
        width: 230px;
       }
       .chooseUS_header{
        font-size: 30px;
       }
}
